.card-header, .card-footer {
  background-color: #fff;
}

.el-progress__text {
  display: none !important;
}

.el-progress-bar {
  padding-right: 0 !important;
}

//.v-messages.error--text .v-messages__message {
//  color: #ff5252;
//}

.error--text {
  color: #ff5252 !important;
  caret-color: #ff5252 !important;
}

html {
  overflow: auto !important;
}

.card {
  border-radius: 15px;
  color: #1f1f1f;
}

.card-header {
  -moz-border-radius: 0;
  -webkit-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0 !important;
}

a, a:hover {
  text-decoration: none;
}

.v-rating button {
  padding: 0 !important;
}

button {
  outline: none !important
}

.theme--light.v-input--is-disabled input {
  color: black !important;
}

.theme--light.v-text-field.v-input--is-disabled .v-input__slot::before {
  border-image: none !important;
}

.v-data-table-header tr th {
  font-size: 14px !important;
}

.v-stepper__step__step {
  background-color: #1976d2 !important;
  border-color: #1976d2 !important;
}

.v-stepper__label {
  color: black !important;
}

.v-stepper {
  box-shadow: none !important;
}

.cursor-pointer {
  cursor: pointer !important;
}
